.section-title {
  font-size: 46px;
  font-weight: 700;
  line-height: 1.2;
  margin: 15px 0;
}
.section-subtitle {
  color: #cc3bb5;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  background-color: #cc3bb521;
  padding: 10px 25px;
  line-height: 1;
  z-index: 1;
  margin-bottom: 10px;
  border-left: 2px solid #cc3bb5;
}
.section-text {
  color: #787878;
  /* color: red; */
}
/* ----------------- RESPONSIVE starts ----------- */
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .section-title {
    font-size: 42px;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .section-area {
    text-align: center;
  }
  .section-title {
    font-size: 38px;
    margin: 10px 0;
  }
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .section-area {
    text-align: center;
  }
  .section-title {
    font-size: 28px;
    margin: 10px 0;
  }
  
}
/* Mobile device */
@media (max-width: 575px) {
  .section-area {
    text-align: center;
  }
  .section-title {
    font-size: 24px;
    margin: 10px 0;
  }
}
