.view-details-btn {
  background: #ff4646;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
  border: none;
  border-radius: 20px;
}
.view-details-btn:hover {
  background: #253b70;
  border-radius: 0;
  transition: 0.3s;
}
