.category-area .section-area {
  text-align: center;
}
.grid-item img {
  width: 100%;
  max-height: 230px;
  margin-bottom: 15px;
}
.grid-item p {
  margin-bottom: 8px;
}
.grid-item {
  border: 1px solid #19469b;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}
.grid-item p span {
  font-weight: 600;
}
.react-tabs__tab-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.react-tabs ul li {
  display: inline-block;
  margin: 8px 20px;
  padding: 10px 20px;
  background: linear-gradient(90deg, #19469b 15%, #cc3bb5 100%);
  color: #fff;
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
  border-radius: 30px;
}
/* .react-tabs ul li:hover {
  background: #253b70;
  border-radius: 20px;
  transition: 0.3s;
} */
.category-area {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.react-tabs__tab-list {
  text-align: center;
}
button.view-details {
  background: #253b70;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 7px 13px;
}

/* ----------------- RESPONSIVE starts ----------- */
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .react-tabs__tab-panel {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Mobile device */
@media only screen and (max-width: 576px) {
  .react-tabs__tab-list {
    display: flex;
  }
  .react-tabs ul li {
    margin: 0 5px;
    padding: 10px;
  }
  .react-tabs__tab-panel {
    grid-template-columns: auto;
  }
}
