.about-area {
  background: #fff8eb;
  padding: 60px 0;
}
.about-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.about-list li {
  font-size: 18px;
  margin-bottom: 9px;
}
.about-list li span,
.about-list li svg {
  color: #8dc63f;
  font-weight: 700;
}
.about-list li:nth-of-type(4n + 2) span,
.about-list li:nth-of-type(4n + 2) svg {
  color: #92278f;
}
.about-list li:nth-of-type(4n + 3) span,
.about-list li:nth-of-type(4n + 3) svg {
  color: #ff5200;
}
.about-list li:nth-of-type(4n + 4) span,
.about-list li:nth-of-type(4n + 4) svg {
  color: #00bfff;
}
.about-quote {
  padding: 15px 0;
  border-bottom: 1px solid #ffd7a1;
  border-top: 1px solid #ffd7a1;
  display: flex;
  margin-top: 40px;
  align-items: center;
}
.about-quote .content {
  font-size: 24px;
  color: #ff5200;
  margin-left: 15px;
}
.about-quote .content .name {
  font-size: 18px;
  color: #000;
}

/* ----------------- RESPONSIVE starts ----------- */
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .about-list li {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .about-quote .content {
    font-size: 18px;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .about-area {
    padding: 40px 0;
  }
  .about-area .container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .about-img img {
    width: 100%;
  }
  .about-content {
    margin-top: 25px;
  }
  .about-list {
    text-align: center;
  }
  .about-list li {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .about-quote .content {
    font-size: 17px;
  }
}
/*SM Device*/
@media (min-width: 576px) and (max-width: 767px) {
  .about-area {
    padding: 40px 0;
  }
  .about-area .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-img img {
    width: 100%;
  }
  .about-content {
    margin-top: 25px;
  }
  .about-list {
    text-align: center;
  }
  .about-quote .content {
    font-size: 16px;
  }
  .about-quote .content .name {
    font-size: 16px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .about-area {
    padding: 40px 0;
  }
  .about-area .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-img img {
    width: 100%;
  }
  .about-content {
    margin-top: 25px;
  }
  .about-list {
    text-align: center;
  }
  .about-quote .content {
    font-size: 16px;
  }
  .about-quote .content .name {
    font-size: 16px;
  }
}
