/* .about-area {
  padding-bottom: 40px;
  background: #f8f9fa;
}
.about-content p {
  color: #686464;
}
.about-area .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-btn button {
  background: #ff4646;
  border: navajowhite;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
  margin-top: 30px;
}
.contact-btn button:hover {
  background: #253b70;
  border-radius: 20px;
  transition: 0.3s;
}
.about-img img {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 5px;
  width: 100%;
} */
.about-area {
  background: #fff8eb;
  padding: 60px 0;
}
.about-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* .about-title span {
  color: #cc3bb5;
  font-weight: 600;
  font-size: 20px;
}
.about-title h3 {
  font-size: 36px;
  margin: 10px 0;
  font-weight: 600;
}
.about-content p {
  color: #707070;
} */

.about-list li {
  font-size: 18px;
  margin-bottom: 9px;
}
.about-list li span,
.about-list li svg {
  color: #8dc63f;
  font-weight: 700;
}
.about-list li:nth-of-type(4n + 2) span,
.about-list li:nth-of-type(4n + 2) svg {
  color: #92278f;
}
.about-list li:nth-of-type(4n + 3) span,
.about-list li:nth-of-type(4n + 3) svg {
  color: #ff5200;
}
.about-list li:nth-of-type(4n + 4) span,
.about-list li:nth-of-type(4n + 4) svg {
  color: #00bfff;
}
.about-quote {
  padding: 15px 0;
  border-bottom: 1px solid #ffd7a1;
  border-top: 1px solid #ffd7a1;
  display: flex;
  margin-top: 40px;
}
.about-quote .content {
  font-size: 24px;
  color: #ff5200;
  margin-left: 15px;
}
.about-quote .content .name {
  font-size: 18px;
  color: #000;
}
@media only screen and (max-width: 576px) {
  .contact-btn {
    display: flex;
    justify-content: center;
  }
  .contact-btn button {
    margin-top: 0;
  }
  .about-content {
    padding-bottom: 25px;
  }
  .about-area {
    padding-top: 20px;
  }
}
