.gallery-area {
  padding: 40px 0;
}
.last {
  height: 333px;
}
@media only screen and (max-width: 576px) {
  .section-title h3 {
    font-size: 24px;
  }
  .section-title {
    padding: 0px 0 35px 0;
    position: relative;
  }
  .section-title p {
    letter-spacing: 4px;
  }
  .gallery-area {
    padding: 20px 0 5px 0;
  }
}
