/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
a {
  text-decoration: none !important;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}
.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* Section title */
.section-title {
  text-align: center;
  padding: 30px 0 40px 0;
  position: relative;
}
.section-title h3 {
  font-size: 30px;
  font-weight: 600;
  color: #253b70;
}
.section-title p {
  letter-spacing: 8px;
  margin-bottom: 7px;
  color: #ff4646;
  font-weight: 500;
}
.section-title h3::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 130px;
  background: #ff4646;
  left: 0;
  bottom: 30px;
  right: 0;
  margin: 0 auto;
}
