:root {
  font-family: "Rubik", sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
body {
  font-family: "Rubik", sans-serif !important;
  margin: 0;
  padding: 0;
  /* background-color: red !important; */
}
a {
  text-decoration: none !important;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}
li {
  list-style: none;
}
h2,
h3,
h4,
h5,
h6 {
  color: #101218;
}
.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* Custom button */
.custom-button {
  border-radius: 50px;
  background: #19469b;
  padding: 15px 40px;
  transition: 0.3s;
  border: none;
  position: relative;
  background: linear-gradient(90deg, #19469b 15%, #cc3bb5 100%);
  font-weight: 600;
  min-width: 90px;
  color: #fff !important;
  text-align: center;
}
/* Section title */
/* .section-title {
  text-align: center;
  padding: 30px 0 40px 0;
  position: relative;
}
.section-title h3 {
  font-size: 30px;
  font-weight: 600;
  color: #253b70;
}
.section-title p {
  letter-spacing: 8px;
  margin-bottom: 7px;
  color: #ff4646;
  font-weight: 500;
}
.section-title h3::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 130px;
  background: #ff4646;
  left: 0;
  bottom: 30px;
  right: 0;
  margin: 0 auto;
} */
