.banner-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content h2 {
  color: #253b70;
  font-weight: 700;
  font-size: 80px;
  line-height: 5rem;
}
.banner-content p {
  color: #454442;
  font-size: 22px;
  margin: 20px 0;
}
.banner-content button {
  background: #ff4646;
  border: navajowhite;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}
.banner-content button:hover {
  background: #253b70;
  border-radius: 20px;
  transition: 0.3s;
}

@media only screen and (max-width: 576px) {
  .banner-img {
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
  .banner-content h2 {
    font-size: 34px;
    line-height: 2rem;
    text-align: center;
  }
  .banner-content p {
    font-size: 16px;
    text-align: center;
  }
  .learn-more-btn {
    display: flex;
    justify-content: center;
  }
  .banner-section .container {
    padding: 20px 0;
  }
}
