.swiper {
  height: 700px !important;
}
.banner-content {
  position: absolute;
  top: 31%;
  width: 40%;
}
.banner-content span {
  text-transform: uppercase;
  color: #cc3bb5;
  font-weight: 600;
}
.banner-content h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  margin: 20px 0;
}
.banner-content p {
  font-size: 17px;
  margin-bottom: 30px;
}
.banner-2 .banner-content {
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.banner-3 img {
  margin-left: 5%;
}
.banner-3 .banner-content {
  right: 14%;
}
.banner-4 .banner-content {
  right: 13%;
  color: #fff;
}
.banner-4 .banner-content h2 {
  color: #fff;
}
.banner-4 .banner-content p {
  color: #d3d3d3;
}

/* Responsive */
@media only screen and (max-width: 576px) {
}
